# Dependencies
node_modules/

# Next.js
apps/web/.next/
apps/web/out/

# API build
apps/api/dist/

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
apps/web/next-env.d.ts
